.Row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.Row:nth-child(odd) {
    background-color: #6F6F6F96;
}

.Row:nth-child(even) {
    background-color: #06060696;
}

.Row:first-child {
    background-color: #110c0cb6;
}

.Table {
    display: grid;
    grid-template-columns: repeat(auto-fill, 1fr);
    border-radius: 25px;
    background-color: #FFFFFF66;
    overflow: hidden;
    backdrop-filter: blur(4px);
    padding: 0px;
    border-collapse: collapse;
    width: 80%;
}

.Cell {
    box-sizing: border-box;
    width: 100%;
    min-height: 100%;
    padding: 10px;
    text-align: center;
    color: white;
    height: fit-content;
    display: flex;
    align-items: center;
    overflow: hidden;
    display: flex;
}


.Cell:nth-child(even) {
    background-color: #00000066;
}

.Cell * {
    float: left;
}

.Clickable:hover {
    background-color: #FFFFFF66;
    cursor: pointer;
}